
.box {
   width: 65%;
   display: flex;
   align-items: center;
   padding:10px;
   margin:15px;
   /* background-color: purple; */
   /* border: 3px solid cornflowerblue; */
   box-shadow: 6px 6px 24px 3px rgba(114,144,158,1);
   margin-left: auto;
  margin-right: auto;
}

.middle-left {
  font-weight: bold;
  display: flex;
} 


.company-logo {
  padding: 5px;
}

.right-elements {
  list-style-type: none;
}

li {
  display: inline;
  margin: 10px;
  font-weight: bold;
  color: darkcyan;
  background-color: #9dc9b1;
  border-radius: 15px;
  padding: 5px;
}

.bottom-el {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin: 5px;
  color: grey;
}

.left-rows {
display: flex;
flex-direction: column;
margin-right: auto;
}

.top-row {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.if-new {
  color: white;
  background-color: teal;
  border-radius: 15px;
  padding: 2px;
}

.if-featured {
  color: white;
  background-color: darkslategray;
  border-radius: 15px;
  padding: 2px;
  margin: 3px;
}